In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [2]:
data=pd.read_csv('all_conditions.csv')
data.head(10)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,FTI,TBG_measured,TBG,referral_source,patient_id,target_hyper,target_hypo,target_bp,target_rep,target_sick
0,41.0,F,f,f,f,f,f,f,f,f,...,109.0,f,NaN,SVHC,3733,negative,negative,negative,negative,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,other,1442,negative,negative,negative,negative,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,120.0,f,NaN,other,2965,negative,negative,negative,negative,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,NaN,f,NaN,other,806,negative,negative,negative,replacement therapy,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,70.0,f,NaN,SVI,2807,negative,negative,negative,negative,negative
5,18.0,F,t,f,f,f,f,f,f,f,...,141.0,f,NaN,other,3434,negative,negative,negative,negative,negative
6,59.0,F,f,f,f,f,f,f,f,f,...,78.0,f,NaN,other,1595,negative,negative,negative,negative,negative
7,80.0,F,f,f,f,f,f,f,f,f,...,115.0,f,NaN,SVI,1367,negative,negative,negative,negative,sick
8,66.0,F,f,f,f,f,f,f,f,f,...,132.0,f,NaN,SVI,1787,negative,negative,negative,negative,negative
9,68.0,M,f,f,f,f,f,f,f,f,...,93.0,f,NaN,SVI,2534,negative,negative,negative,negative,negative

In [3]:
print(data.info())
print("\n",data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  2799 non-null   float64
 1   sex                  2690 non-null   object
 2   on_thyroxine         2800 non-null   object
 3   query_on_thyroxine   2800 non-null   object
 4   on_antithyroid_meds  2800 non-null   object
 5   sick                 2800 non-null   object
 6   pregnant             2800 non-null   object
 7   thyroid_surgery      2800 non-null   object
 8   I131_treatment       2800 non-null   object
 9   query_hypothyroid    2800 non-null   object
 10  query_hyperthyroid   2800 non-null   object
 11  lithium              2800 non-null   object
 12  goitre               2800 non-null   object
 13  tumor                2800 non-null   object
 14  hypopituitary        2800 non-null   object
 15  psych                2800 non-null   object
 16  TSH_measured         2800 non-null   object
 17  TSH                  2516 non-null   float64
 18  T3_measured          2800 non-null   object
 19  T3                   2215 non-null   float64
 20  TT4_measured         2800 non-null   object
 21  TT4                  2616 non-null   float64
 22  T4U_measured         2800 non-null   object
 23  T4U                  2503 non-null   float64
 24  FTI_measured         2800 non-null   object
 25  FTI                  2505 non-null   float64
 26  TBG_measured         2800 non-null   object
 27  TBG                  0 non-null      float64
 28  referral_source      2800 non-null   object
 29  patient_id           2800 non-null   int64
 30  target_hyper         2800 non-null   object
 31  target_hypo          2800 non-null   object
 32  target_bp            2800 non-null   object
 33  target_rep           2800 non-null   object
 34  target_sick          2800 non-null   object
dtypes: float64(7), int64(1), object(27)
memory usage: 765.8+ KB
None

               age          TSH           T3          TT4          T4U  \
count  2799.00000  2516.000000  2215.000000  2616.000000  2503.000000
mean     51.84423     4.672150     2.024966   109.072401     0.997912
std      20.46116    21.449453     0.824600    35.392443     0.194390
min       1.00000     0.005000     0.050000     2.000000     0.310000
25%      36.00000     0.440000     1.600000    88.000000     0.880000
50%      54.00000     1.400000     2.000000   104.000000     0.980000
75%      67.00000     2.600000     2.400000   125.000000     1.080000
max     455.00000   478.000000    10.600000   430.000000     2.120000

               FTI  TBG   patient_id
count  2505.000000  0.0  2800.000000
mean    110.787984  NaN  1895.603214
std      32.883986  NaN  1091.130220
min       2.000000  NaN     1.000000
25%      93.000000  NaN   955.750000
50%     107.000000  NaN  1913.000000
75%     124.000000  NaN  2837.500000
max     395.000000  NaN  3772.000000

In [ ]:
#PLOT BETWEEN TARGET SICKNESS AND HYPERTHYROIDISM MEDICAL DIAGONSIS